.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.li{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    border: 1px solid rgb(42, 145, 185);
    border-radius: 10px;
    max-width: 100px;
}
.delete{
    color: white;
    background-color: rgb(133, 37, 117);
    max-width: 80px;
    max-height: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 200px;
}